<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Les Sessions par nombre d'inscrits</title>
</head>
<body>
<table border="1">
    <th>Id de la session</th>
    <th>Date de debut</th>
    <th>Date de fin</th>
    <th>Nombre d'inscrits</th>
    <th>Id du local</th>
    <th>Id du cours</th>

    <tr th:each="uneSession : ${mesSessions}">
        <td th:text="${uneSession.idsessioncours}"/>
        <td th:text="${uneSession.Date_Debut}"/>
        <td th:text="${uneSession.Date_Fin}"/>
        <td th:text="${uneSession.nbreinscrits}"/>
        <td th:text="${uneSession.local.idlocal}"/>
        <td th:text="${uneSession.cours.idcours}"/>

    </tr>
</table>
<a href="/">Retour accueil</a>
</body>
</html>